
<div class=" input-group my-3 d-flex justify-content-center">
  <form action="/answer" method="get" data-turbo="false" class="bg-light shadow rounded d-flex justify-content-center">
    <input type="text" name="question" class="form-control">
    <input type="submit" value="Ask!" class=" btn btn-outline-white btn-primary shadow-sm btn-lg">
  </form>
</div>
